:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --red: #de0000f0;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}
.login {
    width: 90%;
    height: 90vh;
    display: grid;
    place-items: center;
}
.form-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 280px;
}
.logo {
    width: 150px;
    margin-top: 12px;
    margin-bottom: 24px;
    justify-self: center;
    display: none;
    background-color: var(--white);
}
.title {
    font-size: var(--lg);
    margin: 20px 0 40px 0;
    text-align: center;
}
.form {
    display: flex;
    flex-direction: column;

}
.form div {
    display: flex;
    flex-direction: column;
}
.div a {
    color: var(--red);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 48px;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;
}
.input-name {
    margin-bottom: 24px;
}
.primary-button {
    font-family: Quicksand, sans-serif;
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 48px;
    text-align: center;
}
.secondary-button {
    font-family: Quicksand, sans-serif;
    background-color: var(--white);
    border-radius: 8px;
    border: 1px solid var(--red);
    color: var(--red);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 48px;
}
.login-button {
    margin-top: 16px;
    margin-bottom: 8px;
}
@media (max-width: 920px) {
    .logo {
        display: block;
    }
    .form a{
        margin-bottom: 60px;
    }
    .secondary-button {
        position: absolute;
        bottom: 20px;
        width: inherit;
    }
}