:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --red: #de0000f0;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    width: 100%;
    height: 100vh;
    justify-content: center;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 50px;
}
.nav {
    --padding-container: 0;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: space-between;
    display: none;
}

.nav__title {
    font-weight: 300;
}

.nav__link {
    margin-left: auto;
    padding: 12;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 2em;
}

.nav__items {
    list-style: none;
}

.nav__links {
    color: var(--red);
    text-decoration: none;
}

.nav__menu {
    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__close {
    display: var(--show, none);
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.form {
    display: flex;
    flex-direction: column;

}
.form div {
    display: flex;
    flex-direction: column;
}
.form a {
    color: var(--red);
    font-size: var(--sm);
    text-align: center;
    text-decoration: none;
    margin-bottom: 48px;
}
.label {
    font-size: var(--sm);
    font-weight: bold;
    margin-bottom: 4px;
}
.input {
    background-color: var(--text-input-field);
    border: none;
    border-radius: 8px;
    height: 32px;
    font-size: var(--md);
    padding: 8px;
    margin-bottom: 12px;
}
.input-name {
    margin-bottom: 24px;
}
.info-button {
    font-family: Quicksand, sans-serif;
    background-color: var(--red);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 48px;
    text-align: center;
}

@media (max-width:800px){
    .nav__menu{
        display: block;
        justify-content: end;
    }

    .nav__link--menu{
        position: fixed;
        background-color: var(--white);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show{
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close{
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }
}